/* Add custom css here */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

.state {
    transition: fill .4s ease;
    transition: transform 500ms ease-in-out;
}

.state:hover {
    transform: scale(1.01);
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 80%, transparent 80% 100%),
        conic-gradient(rgb(11 164 193) 20%, rgb(193 250 255) 0);
}

.progress-bar::before {
    content: attr(data-before);
}

.home-bg {
    background: linear-gradient(50deg, #ffffff, #9dc2f7, #a9dcf9, #ffffff);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 23s ease infinite;
    -moz-animation: AnimationName 23s ease infinite;
    -o-animation: AnimationName 23s ease infinite;
    animation: AnimationName 23s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}

@layer base {

    a {
        @apply text-secondary;
        @apply underline;
    }

    a:hover {
        @apply text-key2;
    }

    .state {
        @apply fill-secondary;
    }

    .state:hover {
        @apply fill-main;
    }

    html {
        @apply text-main;
        @apply font-jaldi
    }
}